<ion-view title="认证进度">
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button>后退</ion-nav-back-button>
    </ion-nav-bar>

    <ion-content id="progress">
        <div class="list card about4">
            <div class="about4_ch">您的申请进度</div>
            <div class="about4_main">
                <div class="line"></div>
                <ul>
                    <li>
                        提交资料
                    </li>
                    <li>
                        正在审核
                    </li>
                    <li>
                        审核通过
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>