<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>login</title>
    <link href="lib/css/ionic.css" rel="stylesheet" type="text/css">
    <script src="lib/js/ionic.bundle.js"></script>
    <script src="js/login.js"></script>
    <script src="js/info.js"></script>
    <style>
        *{margin:0;padding:0;}
        .list-inset{margin:20px 0;}
        #verification{padding:6px 0 5px 16px}
        #verification .button{font-size: 12px;line-height: 30px;min-height:30px}
        .basic_info,.close_info{display:inline-block;padding:5px 0 5px 9px;color: #777;margin:0;}
        #province{position: static;padding:0;}
        .input-label{width:30%;}
        #register{margin:10px;}
    </style>
</head>
<body>
<!-- header -->
<div class="bar bar-header bar-dark">
    <h1 class="title">注册信息</h1>
    <button class="button button-icon ion-navicon"></button>
</div>
<!--content-->
<div class="scroll-content has-header overflow-scroll has-footer">
    <lable class="list list-inset">
        <span class="basic_info">基本信息</span>
        <div class="item item-input">
            <span class="input-label">商户名称：</span>
            <input type="text" name="ComTname" placeholder="请输入店铺名称">
        </div>
        <div class="item item-input">
            <span class="input-label">商户地址：</span>
            <input type="text" name="Address" placeholder="请输入店铺详细地址">
        </div>
        <div class="item item-input">
            <span class="input-label">推广码：</span>
            <input type="text" name="Pop" placeholder="请输入推广码">
        </div>
        <div class="item item-input">
            <span class="input-label">手机号：</span>
            <input type="text" name="Tel" placeholder="请输入手机号">
        </div>
        <div class="item item-input-inset" id="verification">
            <span class="input-label">验证码：</span>
            <input type="text" name="useridcard" placeholder="验证码">
            <button class="button button-balanced">获取验证码</button>
        </div>
        <span class="close_info">结算信息</span>
        <div class="item item-input">
            <span class="input-label">持卡人姓名：</span>
            <input type="text" name="idcard_name" placeholder="请输入持卡人姓名">
        </div>
        <div class="item item-input">
            <span class="input-label">身份证号：</span>
            <input type="text" name="idcard" placeholder="请输入持卡人身份证号">
        </div>
        <div class="item item-input">
            <span class="input-label">银行卡号：</span>
            <input type="text" name="bank_card" placeholder="请输入银行卡号">
        </div>
        <div class="item item-input item-select" ng-controller="myctr">
            <span class="input-label">所在城市:</span>
            <select id="province" ng-model="selectedProvince" ng-options="item.province for item in data">
                <option value="">请选择省份</option>
            </select>
            <select id="city" ng-model="City" ng-options="city for city in selectedProvince.cities">
                <option value="">请选择城市</option>
            </select>
        </div>
        <div class="item item-input item-select">
            <span class="input-label">开户银行:</span>
            <select ng-model="selectedProvince" ng-options="item.province for item in data">
                <option value="">请选择开户银行</option>
            </select>
        </div>
        <div id="register">
            <button class="button button-full button-large button-balanced">注册</button>
        </div>
    </lable>
</div>
<!-- footer -->
<div class="bar bar-footer bar-stable">
    <h4 class="title">聚宝盒</h4>
</div>

</body>
</html>