<ion-view title="收款信息">
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button>后退</ion-nav-back-button>
    </ion-nav-bar>

    <ion-content id="proceeds">
        <div class="button-bar padding-tblr">
            <a class="button button-calm">时间</a>
            <a class="button button-outline button-calm">类型</a>
            <a class="button button-outline button-calm">结果</a>
            <a class="button button-outline button-calm">二维码</a>
        </div>
        <div class="list card">
            <div class="item item-divider">
                个人信息
            </div>
            <div class="item item-avatar-left">
                <img src="images/touxiang.png">
                <div class="name">好冷的天气</div>
                <div class="data">181****2833</div>
                <span>2016-10-10 16:32:12</span>
                <span class="badge badge-calm">1.00￥</span>
            </div>
            <div class="item item-avatar-left">
                <img src="images/touxiang.png">
                <div class="name">好冷的天气</div>
                <div class="data">181****2833</div>
                <span>2016-10-10 16:32:12</span>
                <span class="badge badge-calm">1.00￥</span>
            </div>
            <div class="item item-avatar-left">
                <img src="images/touxiang.png">
                <div class="name">好冷的天气</div>
                <div class="data">181****2833</div>
                <span>2016-10-10 16:32:12</span>
                <span class="badge badge-calm">1.00￥</span>

            </div>
        </div>
        <div class="btn">没有查询记录</div>
    </ion-content>
</ion-view>