<ion-view title="我的二维码">
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button>后退</ion-nav-back-button>
    </ion-nav-bar>

    <ion-content id="code">
        <div class="list">
            <span class="code-title">常用二维码</span>
            <div class="item item-thumbnail-left">
                <img src="images/code.png"/>
                <h2>我的固定常用二维码</h2>
                <p class="code-item-p">御用收款狗，常出没于店铺内。付款者输入随机金额即可付款</p>
            </div>
            <span class="code-title">活动二维码</span>
            <div class="item item-thumbnail-left">
                <img src="images/huodong.png">
                <h2>我的固定常用二维码</h2>
                <p class="code-item-p">御用收款狗，常出没于店铺内。付款者输入随机金额即可付款</p>
            </div>
            <div class="item">
                <div class="btn red border-color-red">
                    查看活动收款码
                </div>
            </div>
            <span class="code-title">商品二维码</span>
            <div class="item item-thumbnail-left">
                <img src="images/goods.png">
                <h2>我的固定常用二维码</h2>
                <p class="code-item-p">御用收款狗，常出没于店铺内。付款者输入随机金额即可付款</p>
            </div>
            <div class="item">
                <div class="btn border-color-orange">
                    查看商品收款码
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>