<ion-view title="聚宝盒">
    <ion-content id="home">
        <ion-slide-box auto-play="true" does-continue="true" slide-interval="2000" show-pager="false">
            <ion-slide>
                <div class="box"><img src="images/slide-01.jpg"/></div>
            </ion-slide>
<!--
            <ion-slide>
                <div class="box"><img src="images/pic-2.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/pic-3.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/pic-4.jpg"/></div>
            </ion-slide>
-->
        </ion-slide-box>

        <div class="list card">
            <a class="item item-avatar-left">
                <img src="images/logo1.jpg">
                <h2>数据库很</h2>
                <p>等级：V1商户</p>
                <span class="link">></span>
            </a>
        </div>

        <div class="list card pic">
            <a class="item item-icon-left" ui-sref="proceeds">
                <i class="icon pic-icon"></i>商铺收款
                <span class="link">></span>
            </a>
            <a class="item item-icon-left" ui-sref="code">
                <i class="icon pic-icon"></i>我的二维码
                <span class="link">></span>
            </a>
        </div>

        <div class="list card pic">
            <a class="item item-icon-left " ui-sref="invite">
                <i class="icon pic-icon"></i>邀请朋友
                <span class="link">></span>
            </a>
            <a class="item item-icon-left" ui-sref="know">
                <i class="icon pic-icon"></i>了解
                <span class="link">></span>
            </a>
        </div>

        <div class="list card pic">
            <a class="item item-icon-left" ui-sref="clear">
                <i class="icon pic-icon"></i>我的清算
                <span class="link">></span>
            </a>
            <a class="item item-icon-left" ui-sref="progress">
                <i class="icon pic-icon"></i>认证进度
                <span class="link">></span>
            </a>
            <a class="item item-icon-left" ui-sref="add-att">
                <i class="icon pic-icon"></i>添加认证
                <span class="link">></span>
            </a>
            <a class="item item-icon-left" ui-sref="my-info">
                <i class="icon pic-icon"></i>个人信息
                <span class="link">></span>
            </a>
        </div>

    </ion-content>
</ion-view>