<ion-view title="清算">
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button>后退</ion-nav-back-button>
    </ion-nav-bar>

    <ion-content id="clear">
        <div class="button-bar padding-tblr">
            <a class="button button-energized">收款清算</a>
            <a class="button button-light">收益清算</a>
        </div>
        <div class="list card">
            <a class="item item-thumbnail-left">
                <img src="images/no-liquidation.png">
                <h2>未清算金额<sub class="red" style="bottom:0;">(满100清算)</sub></h2>
                <p class="red">0.00元</p>
            </a>
        </div>
        <div class="list card">
            <a class="item item-thumbnail-left">
                <img src="images/liquidation.png">
                <h2>清算中金额</h2>
                <p class="red">0.00元</p>
            </a>
        </div>
        <div class="list card">
            <a class="item item-thumbnail-left">
                <img src="images/close_account.png">
                <h2>已清算金额</h2>
                <p class="red">0.00元</p>
            </a>
        </div>
    </ion-content>
</ion-view>