<ion-view title="个人信息">
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button>后退</ion-nav-back-button>
    </ion-nav-bar>

    <ion-content id="my-info">
        <div class="list card">
            <div class="item item-divider">
                个人信息
            </div>
            <div class="item">
                微信昵称
                <span class="item-note">
                    Grammy
                </span>
            </div>
            <div class="item">
                当前等级
                <span class="badge badge-assertive">2</span>
            </div>
            <div class="item">
                微信昵称
                <span class="item-note">
                    1855***4298
                </span>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">
                商户信息
            </div>
            <div class="item">
                商户logo
                <span class="item-note">123</span>
            </div>
            <div class="item">
                商户名称
                <span class="item-note">未填写</span>
            </div>
            <div class="item">
                营业地址
                <span class="item-note">未填写</span>
            </div>
            <div class="item">
                营业执照
                <span class="item-note">未填写</span>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">
                商户信息
            </div>
            <div class="item">
                银行卡
                <span class="item-note">未填写</span>
            </div>
            <div class="item">
                储蓄卡
                <span class="item-note">未填写</span>
            </div>
        </div>
    </ion-content>
</ion-view>