<ion-view title="了解">
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button>后退</ion-nav-back-button>
    </ion-nav-bar>

    <ion-content id="know">
        <ion-slide-box>
            <ion-slide>
                <div class="box"><img src="images/1.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/2.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/3.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/4.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/5.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/6.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/7.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/8.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/9.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/10.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/11.jpg"></div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>